<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ios_app.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E442EF2F2EF2B99600146A8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E442EF402EF2B99C00146A8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E442EF4A2EF2B99C00146A8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
