<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
    <key>CFBundleDisplayName</key>
    <string>Destiny</string>
    <key>CFBundleName</key>
    <string>Destiny</string>
    <key>UIUserInterfaceStyle</key>
    <string>Dark</string>
    <key>GIDClientID</key>
    <string>668639087682-pgt066dmusjrpqthgb6ci5tq1pv3cs25.apps.googleusercontent.com</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.668639087682-pgt066dmusjrpqthgb6ci5tq1pv3cs25</string>
            </array>
        </dict>
    </array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>ENVIRONMENT</key>
	<string>$(ENVIRONMENT)</string>
	<key>API_BASE_URL</key>
	<string>$(API_BASE_URL)</string>
	<key>API_KEY</key>
	<string>$(API_KEY)</string>
	<key>UIAppFonts</key>
	<array>
		<string>PlayfairDisplay-Regular.ttf</string>
		<string>canela_light.otf</string>
		<string>canela_roman.otf</string>
		<string>canela_bold.otf</string>
	</array>
</dict>
</plist>
